[settings]
line_length = 79
multi_line_output = 3
include_trailing_comma = True
known_third_party = automagic_client,behave,charging_station_steps,dotenv,generate_scenario_uuid,log_utils_steps,od_values_steps,paramiko,pkg_resources,pytest,requests,scn_utils,scp,setuptools,steps,test_filter,utils,xlsxwriter
